.NFTHighlight {
  background: url("../../assets/img/NFT Highlight.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  padding-bottom: 60px;
  height: 90vh;
  display: flex;
  justify-content: center;
  gap: 300px;
  background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #a259ff 100%);
}

.infoBox {
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-end;
}
.author {
  padding: 10px 20px;
  display: inline-flex;
  align-items: center;
  gap: 12px;
  background: #3b3b3b;
  border-radius: 20px;
  .avatar {
    width: 24px;
  }
}

.title {
  font-weight: 600;
  font-size: 51px;
}

.button {
  padding: 19px 50px;
  display: inline-flex;
  gap: 12px;
  background: #ffffff;
  border-radius: 20px;

  .buttonInfo {
    color: #2b2b2b;
    font-weight: 600;
  }
}

.timer {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-end;
  padding: 30px;
  background: rgba(59, 59, 59, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 20px;
  .timerInfo {
    font-family: "Space Mono";
    font-size: 13px;
  }

  .timerContainer {
    display: flex;
    column-gap: 38px;
  }

  .timerBox {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &:not(:last-child)::after {
      content: ":";
      position: absolute;
      top: 5px;
      left: 60px;
      font-size: 38px;
    }

    .unitOfTime {
      font-family: "Space Mono";
      font-weight: 700;
      font-size: 38px;
    }
    .timerTitle {
      font-family: "Space Mono";
      font-size: 13px;
    }
  }
}
