.NFTHighlight {
  background: url("../../assets/img/NFT Highlight.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  padding-bottom: 60px;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 300px;
  background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #a259ff 100%);
}

.infoBox {
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-end;
}
.author {
  padding: 10px 20px;
  display: inline-flex;
  align-items: center;
  gap: 12px;
  background: #3b3b3b;
  border-radius: 20px;
  .avatar {
    width: 24px;
  }
}

.title {
  font-weight: 600;
  font-size: 51px;
}

.button {
  padding: 19px 50px;
  display: inline-flex;
  gap: 12px;
  background: #ffffff;
  border-radius: 20px;

  .buttonInfo {
    color: #2b2b2b;
    font-weight: 600;
  }
}

